@font-face{
    font-family: uniq;
    src: url(fonts/Callaghands.otf);
}
body{
    background: url("imges/zcontact3.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(83, 134, 243);
}
h1{
    font-family: uniq;
    font-size: 6em;
    text-align: center;
    padding: 17%;
    color: azure;
}
